<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Conexión a API Placeholder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Conexión a JsonPlaceholder</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Conexión a PlaceHolder</strong>
    <div>
      <ion-button (click)="obtener()" color="primary" shape="round">
        Conexión a Prueba
      </ion-button>
    </div>
  </div>

  <div id="container2">
    <ion-item *ngFor="let listaCompleta of listado">
      <h2>{{listaCompleta.title}}</h2>
    </ion-item>
  </div>
  
</ion-content>
